.google-weather-place {
    width: calc(655px/2); height: calc(450px/2);
}
.google-weather-crop {
    width: 652px; height: 450px;
    overflow: hidden;
    transition: 0.0s;
    position: absolute;
}
.google-weather-crop:hover {
    width: 652px; height: 450px;
}
.google-weather {
    position: relative;
    left: -183px; top: -130px;
    width: 2560px; height: 5120px;
    transition: 0.3s;
    position: absolute;
}
.google-weather:hover {
    z-index: 1000;
}