[Desktop Entry]
Type=Application
Name=HubScreen
Comment=Autostart of HubScreen
NoDisplay=false
Exec=remmina -c /home/pi/.local/share/remmina/1609622671205.remmina
NotShowIn=GNOME;KDE;XFCE;
